<div class="card-group">
    <div class="card card-img-top">
        <img class="card-img-top" src="assets/rideshare_driver_201_BQzAK7h.jpg" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">Drivers</h4>
            <p class="card-text">
                Learn more about our drivers, their competitive rates and ratings here!
            </p>
            <a href="<%=drivers_path%>" class="btn btn-primary stretched-link">Learn More</a>
        </div>
    </div>

    <div class="card card-img-top">
        <img class="card-img-top" src="https://raw.githubusercontent.com/seaweeddol/ride-share-rails/master/app/assets/images/download.jpeg" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">Passengers</h4>
            <p class="card-text">
                Explore our Passengers list,list of trips of a certain passenger and more!
            </p>
            <a href="<%=passengers_path%>" class="btn btn-primary stretched-link">Learn More</a>
        </div>
    </div>

    <div class="card card-img-top">
        <img class="card-img-top" src="assets/images.jpeg" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">Trips</h4>
            <p class="card-text">
                Are you a Passenger? click on your name and order a trip here.
            </p>
            <a href="<%=passengers_path%>" class="btn btn-primary stretched-link">Start a new trip!</a>
        </div>
    </div>

    <div class="card card-img-top">
        <img class="card-img-top" src="assets/images (1).jpeg" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">Become a RideShare Passenger</h4>
            <p class="card-text">
                Sign up to become an Ada RideShare passenger here!
            </p>
            <a href="<%=new_passenger_path%>" class="btn btn-primary stretched-link">Become a Passenger!</a>
        </div>
    </div>

</div>